.bannerPic{
    width: 50%;
    // margin-left: auto;
    // margin-right: auto;
    margin-left: 300px;
    display: block;
    padding-top: 40px;

}
.banner-carousell {


    .awssld__wrapper {
        height: 450px;
    }

    .awssld__bullets {
        z-index: 999;
        bottom: 10px;
    }
}
